.baby-love-admin-home {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  height: 100%;
  width: 100%;
  background-image: url(/public/pictures/falali.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .baby-love-admin-home-body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0px 0px 12px 0px #fff;
    // background: #8e7a5f;
  }

  .baby-love-admin-home-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60px;
    color: #fff;
    font-size: 26px;
    font-family: cursive;
    text-shadow: 0px 0px 14px rgba(0, 0, 0, 1);
    box-sizing: border-box;
    border: solid 1px #fff;
    // background-color: rgba(255, 255, 255, 0.2);
    // backdrop-filter: blur(3px);
    // box-shadow: 0px 0px 12px 0px #fff;

    // &::before {
    //   content: " ";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   // border-radius: 10px;
    //   // background-color: white;
    //   z-index: -1;
    // }
  }

  .baby-love-admin-home-item-open {
    border-left: none;
    border-right: none;
    border-bottom: none;
    // &::before {
    //   background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    //   // background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    //   // background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    // }
  }

  .baby-love-admin-home-item-users {
    border-right: none;
    border-bottom: none;
    // &::before {
    //   background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    //   // background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    //   // background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    // }
  }

  .baby-love-admin-home-item-goods {
    border-left: none;
    border-right: none;
    border-bottom: none;
    // &::before {
    //   background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    //   // background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    //   // background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    // }
  }

  .baby-love-admin-home-item-cart {
    border-right: none;
    border-bottom: none;
    // &::before {
    //   // background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    //   // background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    //   // background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    //   // background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    // }
  }

  .baby-love-admin-home-item-order {
    border-left: none;
    border-right: none;
    // border-top: none;
    // &::before {
    //   // background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    //   // background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    //   // background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    //   // background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    // }
  }

  .baby-love-admin-home-item-catalog {
    border-right: none;
    // &::before {
    //   // background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
    //   // background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    //   // background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    //   // background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    // }
  }
}